extends layout
block content
    h1= title
    form(id='GamesForm', action="/resource/games", method="POST")
        div.form-group
            label.gamesAttr(for='game_name') Games Name
            input#game_name(type='text', name='game_name')
        div.form-group
            label.gamesAttr(for='player_count') Player Count
            input#player_count(type='text', name='player_count')
        div.form-group
            label.gamesAttr(for='ticket_price') Ticket Price
            input#ticket_price(type='number', name='ticket_price')
            br
            br
            input(type="submit")
        script.
            document.forms['GamesForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });
